:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

/*::-webkit-scrollbar:horizontal {
    width: 1px;
    height: 1px;
}*/

::-webkit-scrollbar-track {
    opacity: 0;
}

::-webkit-scrollbar-corner {
    opacity: 0;
    /*background-color: transparent;*/
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb:horizontal {
    background: #888;
}

::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:horizontal:hover {
    background: #555;
}

body, p, ul, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    will-change: transform;
    pointer-events: auto;
}

.panel-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 130px;
    height: 100vh;
}

.panel-right {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 130px);
    height: calc(100vh);
    padding: 10px;
    overflow-y: auto;
}

.log-view {
    -webkit-user-select: auto;
    user-select: auto;
}

.log-view::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.drag-grab {
    cursor: grab;
    transition: all 0.2s ease-in-out;
}

.drag-grabbing {
    cursor: grabbing;
    opacity: 0.6;
    transform: scale(0.999);
}

.server-type button {
    text-transform: capitalize !important;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
