:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p, ul, li, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.panel-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 130px;
    height: 100vh;
}

.panel-right {
    position: fixed;
    top: 10px;
    right: 10px;
    width: calc(100% - 160px);
    height: calc(100vh - 20px);
    overflow-y: auto;
}
